---
layout: hub
---

<div class="site-wrap">
    <header class="site-header">
        <h1 class="page-title">
            Assemblypoint Redesign Project Updates
        </h1>
        <ul>
            <li class='project-links'>
                <a href="https://assemblypointwebsite.slack.com/messages/general/" class="btn">Open Slack Channel</a>
                <a class='subscribe btn' href="http://maxkoehler.com//assemblypoint-redesign/feed.xml">Subscibe to Updates</a>
            </li>
        </ul>
    </header>

    <section class="post-list">
        {% for post in site.posts %}
        <article class="post">
            <span class='post-meta'>{{ post.date | date: "%B %e, %Y" }}</span>
            <h2 class='post-title'>{{ post.title }}</h2>
            <main class='post-content'>{{post.content}}</main>

            {% if post.link%}
                {% capture link %}{{ post.link | downcase }}{% endcapture %}
                {% if link contains "docs.google.com" %}
                    <a class='view-details btn' href="{{post.link}}">View Document</a>
                {% endif %}

                {% if link contains "wireframe" %}
                    <a class='view-details btn' href="{{post.link}}">View Wireframe</a>
                {% endif %}
                {% if link contains "codepen" %}
                    <a class='view-details btn' href="{{post.link}}">View Codepen</a>
                {% endif %}
            {%endif%}
        </article>
        {% endfor %}
    </section>
</div>