$lightgray: rgb(240,240,240);
$black: rgb(20,20,20);

* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

body {
    font-family: Brown-Bold, sans-serif;
}

h1, h2 {
    font-size: 1.3rem;
}

.sticky {
    padding: 0 5%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid $black;
}

.site-title {
    color: $black;
    font-size: 1.5rem;
    font-weight: bold;
}

.site-nav a{
    text-decoration: none;
    color: $black;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.current-show {
    height: 80vh;
    padding: 0 5%;
    position: relative;
}

.current-show-details {
    background: white;
    padding: 1.5rem;
    max-with: 25rem;
    position: absolute;
    bottom: 2rem;
    
    h3 {
        color: gray;
    }
    
    h2 {
        margin-bottom: .5rem;
    }
}

.home .site-header-home {

    background: url(' http://payload374.cargocollective.com/1/17/572292/9796478/Projects_Assembly_Point_9_WEB_900.png');
    background-size: cover;
    background-position: center;
}

.journal-feed {
    padding: 2rem 5%;
    margin-bottom: 2rem;
    background: $lightgray;
    h1 {
        margin-bottom: 1rem;
    }    
    ul {
     display: flex;
     justify-content: stretch;
     list-style: none;   
    }
    
    li {
        background: white;
    }
}

.journal-feed-item {
    margin-right: 1rem;
    flex-basis: 25%;
    background: lightgray;
    
    img {
        width: 100%;
        display: block;
    }
}

.journal-item-details {
        padding: 1rem;
}

.show-list {
    padding: 0 5%;
}

.show {
    margin-bottom: 2rem;
}

.show-image {
    width: 100%;
    max-width: 800px;
}

.editions {
    column-count: 2;
}

.edition {
    display: inline-block;
}

.edition-image {
    display: block;
    width: 100%;
}

a {
    color: lighten(black, 20);
    text-decoration: underline;
    font-size: inherit;
}

nav a {
    margin-right: .2rem;
}


.studio {
    display: inline-block;
    border: 1px solid white;
    padding-bottom: 1rem;
    padding: 3rem 1rem;
    min-width: 25%;
}

section, header, footer {
}

.project-current {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

footer {
    padding: 2rem 5%;
    &:before {
        content: '';
        display: block;
        background: black;
        width: 5rem;
        height: 6px;
        margin-bottom: 2rem;
    }
}

.slider {
	padding: 1rem 5%;
	padding-top: 5rem;
	display: flex;
	overflow-x: scroll;
    .item {
    	min-width: 30%;
	    height: 10rem;
    	margin-right: 1rem;
	    background: #eee;
    }

    .label {
	    position: relative;
        height: 0;
    	top: -2rem;
    	&.stick {
	    	position: absolute;
	    	left: 2rem;
	    }
    }
}