<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Assemblypoint Redesign Project Hub</title>
    <meta name="description" content="">

    <link rel="stylesheet" href="/assemblypoint-redesign/css/main.css">
    <link rel="canonical" href="http://maxkoehler.com//assemblypoint-redesign/">
<link rel="alternate" type="application/rss+xml" title="Assemblypoint Redesign Project Hub" href="http://maxkoehler.com//assemblypoint-redesign/feed.xml">
</head>


<body>
    {{content}}
</body>

</html>